
body{
    font-family: monospace;
}
.divStyle{
    background-color: rgb(224, 224, 224);
    margin-bottom: 15px;
    margin-left: 125px;
    padding: 5px;
    width: 70%;
    border: 1px solid;
    border-radius: 5px;
    
}

#fotoPerfil{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

#perfil{
    width: 100px;
    position: absolute;
    margin-left: 0%;
}

#bio{
margin-left: 125px;
height: 145px;
}
 td, tr{
    border: 1px solid #000;
    border-radius: 10px;
}
.tableStyle{
    text-align: center;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    

    
}

